{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>

            {% if 'materias.permiso_admin' in perms %}
                {% include 'menu_administradores.html' %}
            {% elif 'materias.permiso_docente' in perms %}
                {% include 'menu_docentes.html' %}
            {% elif 'materias.permiso_alumno' in perms %}
                {% include 'menu_alumnos.html' %}
            {% endif %}
                <a class="nav-link" href="{% url 'perfilDocente' %}">{{user}}</a>
                {% if user.docente %}
                    {{user.docente.nombre}} {{user.docente.apellido_paterno}} {{user.docente.apellido_materno}}
                {% elif user.alumno %}
                    {{user.alumno.nombre}} {{user.alumno.apellido_paterno}} {{user.alumno.apellido_materno}}
                {% else %}
                    Aún no registras tus datos personales
                {% endif %}
              </li>
              <li class="nav-item-dropdown">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        {% block contenido %}

        {% endblock contenido %}
    </div>
    <script src="{% static 'js/jquery-3.6.3.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    {% block scripts %}

    {% endblock scripts %}
</body>
</html>