{% extends 'base.html' %}

{% block titulo %}
    Lista de programas Academicos
{% endblock titulo %}

{% block contenido %}
    <h1> Lista de Unidades Academicas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Acciónes</th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in Unidades %}
                <tr>
                    <td> {{unidad.nombre}}</td>
                    <td> {{unidad.direccion}}</td>
                    <td><a class="btn btn-danger"   href="{% url 'eliminar_unidad' unidad.nombre %}"> Eliminar </a></td>
                    <td><a class="btn btn-success"   href="{% url 'editar_unidad' unidad.nombre %}"> Editar </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    <a class="btn btn-info"  href="agregar"> Agregar Nueva</a>
{% endblock contenido %}