{% extends 'base.html' %}

{% block titulo %}
    Lista de programas Academicos
{% endblock titulo %}

{% block contenido %}
    <h1> Lista de Materias</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Semestre</th>
                <th>Creditos</th>
                <th>Optativa</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in object_list %}
                <tr>
                    <td> {{materia.clave}}</td>
                    <td> {{materia.nombre}}</td>
                    <td> {{materia.semestre}}</td>
                    <td> {{materia.creditos}}</td>
                    <td> {% if materia.optativa == True %}
                            Si
                         {% else %}
                            No
                         {% endif %}
                    </td>
                    <td> 
                        <a class="btn btn-success" href="{% url 'editar_materia' materia.clave %}"> Editar</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_materia' materia.clave %}"> Eliminar</a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>
</html>
{% endblock contenido %}