{% extends 'base.html' %}

{% block titulo %}
    Lista de programas Academicos
{% endblock titulo %}

{% block contenido %}
    <h1> Lista de Materias</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in object_list %}
                <tr>
                    <td> {{materia.clave}}</td>
                    <td> {{materia.nombre}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>
</html>
{% endblock contenido %}