{% extends 'base.html' %}

{% block titulo %}
    Lista de programas Academicos
{% endblock titulo %}

{% block contenido %}
    <h1> Lista de Materias</h1>
    <form action="{% url 'buscar_materia' %}" method="post" id="form">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{form.clave}}</td>
                <td>{{form.nombre}}</td>
                <td>{{form.semestre}}</td>
                <td>{{form.creditos}}</td>
                <td>
                    <span>Optativa</span>
                    <select name = 'optativa'>
                        <option value="">------</option>
                        <option value="1">Sí</option>
                        <option value="2">No</option>
                    </select>
                </td>
                <td>{{form.programa}}</td>
                <td>
                    <input type="text" name="Programa2">
                </td>
                <td>
                    <input class="btn btn-info" type="submit" value="Buscar">
                    <input type="hidden" name="page" id="page">
                </td>
            </tr>
        </table>
    </form>
        <table class="table">
            <thead>
                 <tr>
                    <th><input type="checkbox" name="todos"></th>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Semestre</th>
                    <th>Creditos</th>
                    <th>Optativa</th>
                    <th>Programa</th>
                </tr>
            </thead>
             <tbody>
            {% for materia in object_list %}
                <tr>
                    <td><input type="checkbox" name="{{materia.clave}}"></td>
                    <td> {{materia.clave}}</td>
                    <td> {{materia.nombre}}</td>
                    <td> {{materia.semestre}}</td>
                    <td> {{materia.creditos}}</td>
                    <td> {% if materia.optativa == True %}
                            Si
                         {% else %}
                            No
                         {% endif %}
                    </td>
                    <td> {{materia.programa}}</td>
                    <td> 
                        <a class="btn btn-success" href="{% url 'editar_materia' materia.clave %}"> Editar</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_materia' materia.clave %}"> Eliminar</a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'eliminar_materias' %}" class="btn btn-danger"> Eliminar Seleccion</a>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="javascript:enviar(1);" href="?page=1">&laquo; first</a>
                <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
            {% endif %}
    
            <span class="page-item">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="page-item" href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
                <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
</body>
</html>
{% endblock contenido %}

{% block scripts %}
    <script>
        function enviar(page){
            $("#page").val(page);
            $("#form").submit();
        }
    </script>
{% endblock scripts %}